{% extends "templates/base.html" %}

{% block title %}Aluno{% endblock %}

{% block content %}
  <div>
    <button type="button" class="btn btn-default" id="back-button"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>&nbsp;&nbsp;Voltar para todos os alunos
  </div>
  <hr>
  <form class="form-horizontal" action="/aluno/{{id}}" method="POST">
    <div class="form-group">
      <label for="name" class="col-sm-2 control-label">Nome</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name" name="name" placeholder="Nome" {% if student %}value="{{student.name}}"{% endif %}>
      </div>
    </div>
    <div class="form-group">
      <label for="surname" class="col-sm-2 control-label">Sobrenome</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="surname" name="surname" placeholder="Sobrenome" {% if student %}value="{{student.surname}}"{% endif %}>
      </div>
    </div>
    <div class="form-group">
      <label for="first_contact" class="col-sm-2 control-label">Data do primeiro contato</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="first_contact" name="first_contact" placeholder="dd/mm/aaaa" {% if student %}value="{{student.first_contact.strftime('%d/%m/%Y')}}"{% endif %}>
      </div>
    </div>
    <div class="form-group">
      <label for="telephone" class="col-sm-2 control-label">Telefone</label>
      <div class="col-sm-10">
        <input type="tel" class="form-control" id="telephone" name="telephone" placeholder="+55 (61) 98888-7777" {% if student %}value="{{student.telephone}}"{% endif %}>
      </div>
    </div>
    <div class="form-group">
      <label for="email" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" name="email" placeholder="alguem@email.com" {% if student %}value="{{student.email}}"{% endif %}>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">{% if student %} Atualizar {% else %} Criar {% endif %}</button>
        {% if student %} <button id="delete-button" type="button" class="btn btn-danger">Remover</button> {% endif %}
      </div>
    </div>
  </form>
{% endblock %}

{% block js %}
<script>
$(document).ready(function(){
  $("#back-button").click(function(){
    window.location.href = "/alunos";
  });
  $("#delete-button").click(function(){
    $.ajax({
      url: "/aluno/{{ id }}",
      type: 'DELETE',
      success: function(result) {
          window.location.href = "/alunos";
      }
    });
  });
});
</script>
{% endblock %}
