{% extends "templates/base.html" %}

{% block title %}Alunos{% endblock %}

{% block content %}
  <form class="form-inline">
    <div class="form-group">
      <label class="sr-only" for="query">Procurar por nome</label>
      <div class="input-group">
        <div class="input-group-addon">Por nome</div>
        <input type="text" class="form-control" id="query" placeholder="Nome a ser procurado..." style="width:400px">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </span>
      </div>
    </div>
  </form>

  <hr>
  {% if message %}
  <div class="alert alert-{{ message_type }}" role="alert">{{ message }}</div>
  {% endif %}

  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Sobrenome</th>
          <th>Data de Contato</th>
          <th>Email</th>
          <th>Telefone</th>
        </tr>
      </thead>
      <tbody>
        {% for student in students %}
          <tr data-id="{{ student.key.id() }}">
            <td>{{ student.name }}</td>
            <td>{{ student.surname }}</td>
            <td>{{ student.first_contact.strftime('%d/%m/%Y') }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.telephone }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <hr>

  <button type="button" class="btn btn-success btn-sm" id="new-student-button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button> Adicionar novo aluno
{% endblock %}

{% block js %}
  <script>
    $(function(){
      $("#new-student-button").click(function(){
        window.location.href = "/aluno/";
      });
      $("tr").click(function(){
        window.location.href = "/aluno/" + $(this).data("id");
      });
    });
  </script>
{% endblock %}
