{% extends "templates/base.html" %}
{% from "templates/base.html" import message_box %}

{% block title %}Aluno{% endblock %}

{% block css %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css" rel="stylesheet">
  <style>
    td:first-child { padding-right: 10px }
    td { padding-bottom: 10px }
    tr:last-child > td { padding-bottom: 0 }
  </style>
{% endblock %}

<!--TODO: improve code reuse of these macros-->

{% macro form_input(value, id, text, placeholder, validation="", required=False, extra="", hidden=False) -%}
  <div class="form-group" {% if hidden %}hidden{% endif %}>
    <label for="{{ id }}" class="col-sm-2 control-label">{{ text }}{% if required %}*{% endif %}</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="{{ id }}" name="{{ id }}" placeholder="{{ placeholder }}"
             {% if value %}value="{{ value }}"{% endif %}
             data-validation="{{ validation }}" {{ extra }} {% if required %} required {% else %} data-validation-optional="true" {% endif %}>
    </div>
  </div>
{%- endmacro %}

{% macro form_textarea(value, id, text, placeholder) -%}
  <div class="form-group">
    <label for="{{ id }}" class="col-sm-2 control-label">{{ text }}{% if required %}*{% endif %}</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="{{ id }}" name="{{ id }}" placeholder="{{ placeholder }}" rows="3">{% if value %}{{ value }}{% endif %}</textarea>
    </div>
  </div>
{%- endmacro %}

{% macro form_dropdown(value, id, text, options, required=False) -%}
  <div class="form-group">
    <label for="{{ id }}" class="col-sm-2 control-label">{{ text }}{% if required %}*{% endif %}</label>
    <div class="col-sm-10">
      <select class="form-control" id="{{ id }}" name="{{ id }}">
        {% for opt in options %}
          <option value="{{ loop.index }}" {% if value == loop.index %}selected{% endif %}>{{ opt }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
{%- endmacro %}

{% macro form_radio(value, id, text, options, required=False) -%}
  <div class="form-group">
    <label for="{{ id }}" class="col-sm-2 control-label">{{ text }}{% if required %}*{% endif %}</label>
    <div class="col-sm-10">
      {% for opt in options %}
        <label class="radio-inline">
          <input type="radio" name="{{ id }}" id="{{ id }}{{loop.index-1}}" value="{{ loop.index-1 }}" {% if value == loop.index-1 %}checked{% endif %}> {{ opt }}
        </label>
      {% endfor %}
    </div>
  </div>
{%- endmacro %}

{% macro form_multiple_inputs(values, id, text, placeholder, validation="", required=False) -%}
  <div class="form-group">
    <label for="{{ id }}[]" class="col-sm-2 control-label">{{ text }}{% if required %}*{% endif %}</label>
      <div class="col-sm-10">
        <table>
          <tbody>
            {% for value in values %}
              <tr>
                <td width="100%">
                  <input type="text" class="form-control {{ id }}" name="{{ id }}[]" placeholder="{{ placeholder }}"
                         value="{{ value }}" data-validation="{{ validation }}">
                </td>
                <td valign="top">
                  <button type="button" class="btn btn-danger remove-item"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                </td>
              </tr>
            {% endfor %}
            <tr>
              <td width="100%">
                <input type="text" class="form-control {{ id }}" name="{{ id }}[]" placeholder="{{ placeholder }}"
                       data-validation="{{ validation }}" {% if values %} data-validation-optional="true" {% endif %}>
              </td>
              <td valign="top">
                <button type="button" class="btn btn-success add-item"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
{%- endmacro %}

{% macro form_multiple_dropdowns(values, id, text, options, required=False) -%}
  <div class="form-group">
    <label for="{{ id }}[]" class="col-sm-2 control-label">{{ text }}{% if required %}*{% endif %}</label>
      <div class="col-sm-10">
        <table>
          <tbody>
            {% for value in values %}
              <tr>
                <td width="100%">
                  <select class="form-control {{ id }}" name="{{ id }}[]" data-validation="required">
                    {% for opt in options %}
                      <option value="{{ loop.index-1 if loop.index-1 > 0 else '' }}" {% if value == loop.index-1 %}selected{% endif %}>{{ opt }}</option>
                    {% endfor %}
                  </select>
                </td>
                <td valign="top">
                  <button type="button" class="btn btn-danger remove-item"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                </td>
              </tr>
            {% endfor %}
            <tr>
              <td width="100%">
                <select class="form-control {{ id }}" name="{{ id }}[]"
                        {% if required %} data-validation="required" {% endif %}
                        {% if values %} data-validation-optional="true" {% endif %}>
                  {% for opt in options %}
                    <option value="{{ loop.index-1 if loop.index-1 > 0 else '' }}">{{ opt }}</option>
                  {% endfor %}
                </select>
              </td>
              <td valign="top">
                <button type="button" class="btn btn-success add-item"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
{%- endmacro %}

{% block content %}
  <div>
    <a href="/alunos" class="btn btn-default" role="button"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>&nbsp;&nbsp;Voltar para todos os alunos
  </div>
  <hr>
  {{ message_box(message, message_type) }}

  {% if show_form %}
  <form class="form-horizontal" action="/aluno/{{id}}" method="POST">
    {{ form_input(             student and student.name,            "name",            "Nome",                     "Nome",                "required",        required=True                              ) }}
    {{ form_input(             student and student.surname,         "surname",         "Sobrenome",                "Sobrenome"                                                                          ) }}
    {{ form_multiple_inputs(   student and student.telephones,      "telephones",      "Telefones",                "(00) 00000-0000",     "brphone",         required=True                              ) }}
    {{ form_input(             student and student.email,           "email",           "Email",                    "alguem@email.com",    "email"                                                       ) }}
    {{ form_multiple_dropdowns(student and student.languages,       "languages",       "Idiomas interessados",     ["[Escolha um]", "Inglês", "Alemão", "Francês"],      True                           ) }}
    {{ form_dropdown(          student and student.status,          "status",          "Status",                   ["Interessado", "Matriculado"]                                                       ) }}
    {{ form_input(             student and student.first_contact and student.first_contact.strftime("%d/%m/%Y"),
                                                                    "first_contact",   "Data do primeiro contato", "dd/mm/aaaa",          "date dategt1900", extra='data-validation-format=dd/mm/yyyy'  ) }}
    <hr>
    {{ form_multiple_dropdowns(student and student.modalities,      "modalities",      "Modalidades",              ["[Escolha um]", "Aula Privada", "Regular", "Cultura"]                               ) }}
    {{ form_input(             student and student.available_times, "available_times", "Horários disponíveis",     "Dias e períodos livres do aluno..."                                                 ) }}
    {{ form_textarea(          student and student.obs,             "obs",             "Observações adicionais",   "Mais informações úteis sobre o aluno..."                                            ) }}
    {{ form_radio(             student and student.made_test_int(), "made_test",       "Fez teste de nivelamento", ["Não", "Sim"]                                                                       ) }}
    {{ form_input(             student and student.lvl,             "lvl",             "Nível",                    "Básico",               hidden=(not student or not student.made_test)                ) }}

    <hr>

    <div class="form-group">
      <label class="col-sm-2  control-label">Mais info</label>
      <div class="col-sm-10">
        <button type="button" class="btn btn-default" id="more-info-btn"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
      </div>
    </div>
    <div id="more-info-container" style="display: none;">
      {% set civil_states = ["[Escolha um]", "Solteiro(a)", "Casado(a)", "Divorciado(a)", "Viúvo(a)", "Separado(a)", "Companheiro(a)"] %}

      <!--{{ form_input(           student and student.turma,           "turma",           "Turma",                    "IB01"                                                                               ) }}-->
      <!--TODO: add masks and validators-->
      {{ form_input(           student and student.get_extra("RG"),            "RG",              "RG",                       "0.000.000-0"                                                                        ) }}
      {{ form_input(           student and student.get_extra("CPF"),           "CPF",             "CPF",                      "000.000.000-00"                                                                     ) }}
      {{ form_input(           student and student.get_extra("address"),       "address",         "Endereço",                 "Rua..."                                                                             ) }}
      {{ form_input(           student and student.get_extra("CEP"),           "CEP",             "CEP",                      "00.000-000"                                                                         ) }}
      {{ form_input(           student and student.get_extra("birthdate"),     "birthdate",       "Data de nascimento",       "dd/mm/aaaa"                                                                         ) }}
      {{ form_dropdown(        student and student.get_extra("civil"),         "civil",           "Estado civil",             civil_states                                                                         ) }}
      {{ form_input(           student and student.get_extra("profession"),    "profession",      "Profissão",                "Profissão"                                                                          ) }}
      {{ form_input(           student and student.get_extra("place"),         "place",           "Local de trabalho/estudo", "Ministério x..."                                                                    ) }}
    </div>

    <hr>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary" name="edit">{% if student %} Atualizar {% else %} Criar {% endif %}</button>
        {% if student %}
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmation-modal">Remover</button>

          <div class="modal fade" id="confirmation-modal" tabindex="-1" role="dialog" aria-labelledby="confirmation-modal-title">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="confirmation-modal-title">Confirmação</h4>
                </div>
                <div class="modal-body">
                  <p>Tem certeza que deseja remover este aluno?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-danger" name="delete">Remover</button>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </form>
  {% endif %}
{% endblock %}

{% block js %}
  <script src="https://rawgit.com/RobinHerbots/Inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.pt-BR.min.js"></script>
  <script>
    // TODO: move to own .js file

    $(function(){
      // Masks
      $("#first_contact").inputmask("99/99/9999");

      var telephoneMask = {
        mask: "(99) 9999[9]-9999",
        onincomplete: function() {
          if (/\d_$/.test(this.value)) {
            var unmasked = this.inputmask.unmaskedvalue();
            this.value = unmasked.slice(0, -4) + "-" + unmasked.slice(-4);
            $(this).validate();
          }
        },
      };
      $(".telephones").inputmask(telephoneMask);

      // Validations
      $.formUtils.addValidator({
        name : "dategt1900",
        validatorFunction : function(value, $el, config, language, $form) {
            return parseInt(value.split("/")[2]) >= 1900;
        },
        errorMessage : "O ano deve ser maior ou igual a 1900",
        errorMessageKey: "dategt1900"
      });

      $.validate({
        modules: "date, brazil",
        lang: "pt"
      });

      // Date picker
      $('#first_contact').datepicker({
        forceParse: false,
        format: "dd/mm/yyyy",
        language: "pt-BR",
        startDate: "01/01/1900",
        todayBtn: "linked"
      });

      // Items buttons
      function removeItem() {
        var $this = $(this);
        var children = $this.parents("tbody").children();
        if (children.length == 2) {
          var $lastInput = children.last().children().eq(0).children().eq(0);
          $lastInput.attr("data-validation-optional", false);
          $.validate($lastInput);
        }

        $this.parents("tr").remove();
      }

      function addItem() {
        var $this = $(this);
        var $currentRow = $this.parents("tr");
        var $inputCell = $currentRow.children().eq(0);
        var $input = $inputCell.children().eq(0);

        if (!$input.val()) {
          $inputCell.addClass("has-error");
          return;
        }

        function onValid() {
          // Add new empty row
          var $newRow = $currentRow.clone();
          $this.parents("table").append($newRow);
          $.validate($newRow.children().eq(0).children().eq(0).val("").attr("data-validation-optional", true));
          $newRow.find(".add-item").click(addItem);
          $newRow.find(".telephones").inputmask(telephoneMask);

          // Modify current row
          $input.attr("data-validation-optional", false);
          $this
            .removeClass("btn-success add-item")
            .addClass("btn-danger remove-item")
            .children()
              .removeClass("glyphicon-plus")
              .addClass("glyphicon-remove");
          $this.off("click");
          $this.click(removeItem);
        }

        if ($input.get(0).hasAttribute("data-validation")) {
          $input.validate(function(valid, elem){
            if (valid) {
              onValid();
            }
          });
        } else {
          onValid();
        }
      }

      $(".add-item").click(addItem);
      $(".remove-item").click(removeItem);

      /** Custom logic **/

      // Level
      var $lvlField = $("#lvl");
      var $lvlRow = $lvlField.parents(".form-group");
      function hideOrShowLvlField(should_show) {
        return function() {
          if (should_show) {
            $lvlRow.show();
          } else {
            $lvlRow.hide();
            $lvlField.val("");
          }
        };
      }

      $("#made_test0").click(hideOrShowLvlField(false));
      $("#made_test1").click(hideOrShowLvlField(true));

      // More info
      var open = false;
      var $moreInfoContainer = $("#more-info-container");
      $("#more-info-btn").click(function(){
        if (open) {
          open = false;
          $(this).children().removeClass("glyphicon-minus").addClass("glyphicon-plus");
          $moreInfoContainer.slideUp(200);
        } else {
          open = true;
          $(this).children().removeClass("glyphicon-plus").addClass("glyphicon-minus");
          $moreInfoContainer.slideDown(200, function(){
            $('html, body').animate({
                scrollTop: $moreInfoContainer.offset().top
            }, 700);
          });
        }
      });
    });
  </script>
{% endblock %}
