<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - Linguae Mundi</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/base.css" >
    {% block css %}{% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home">Instituto Intercultural Linguae Mundi</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse"></div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="{% if active == 'home' %} active {% endif %}"><a href="/home">Sumário</a></li>
            <li class="{% if active == 'alunos' %} active {% endif %}"><a href="/alunos">Alunos</a></li>
            <li class="{% if active == 'professores' %} active {% endif %}"><a href="/professores">Professores</a></li>
            <li class="{% if active == 'turmas' %} active {% endif %}"><a href="/turmas">Turmas</a></li>
          </ul>
          <hr>
          <ul class="nav nav-sidebar">
            <li class="{% if active == 'configuracoes' %} active {% endif %}"><a href="/configuracoes">Configurações</a></li>
          </ul>
          <hr>
          <p>Copyright © 2016 <a href="https://github.com/vyrp">vyrp</a></p>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {% block js %}{% endblock %}
  </body>
</html>
