{% extends "templates/base.html" %}

{% block title %}Configurações{% endblock %}

{% block css %}
  <style>
    .pointer {
      cursor: pointer;
    }
    .plus-cell {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  </style>
{% endblock %}

{% macro create_tab(category, title, active=False) -%}
  <li role="presentation" {% if active %} class="active" {% endif %}>
    <a href="#{{ category }}" aria-controls="{{ category }}" role="tab" data-toggle="tab">{{ title }}</a>
  </li>
{%- endmacro %}

{% macro create_row(id, value, hidden=False) -%}
  <tr data-id="{{ id }}" {% if hidden %} hidden id="row-template" {% endif %}>
    <td>{{ value }}</td>
    <td>
      <span class="glyphicon glyphicon-pencil pointer" aria-hidden="true"></span>
      <span>&nbsp;&nbsp;&nbsp;</span>
      <span class="glyphicon glyphicon-trash pointer" aria-hidden="true"></span>
    </td>
    <td></td>
  </tr>
{%- endmacro %}

{% macro create_tab_panel(category, title, values, active=False) -%}
  <div role="tabpanel" class="tab-pane {% if active %} active {% endif %}" id="{{ category }}">
    <div class="row">
      <div class="col-md-8">
        <table class="table">
          <colgroup>
            <col span="1" style="width: 70%;">
            <col span="1" style="width: 15%;">
            <col span="1" style="width: 15%;">
          </colgroup>
          <thead>
            <tr>
              <th>{{ title }}</th>
              <th>Ações</th>
              <th style="color:gray">Status</th>
            </tr>
          </thead>
          <tbody>
            {% for id, value in values %}
              {{ create_row(id, value) }}
            {% endfor %}
            <tr class="active">
              <td class="plus-cell pointer" colspan=3 align="center">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{%- endmacro %}

{% block content %}
  <div>
    <ul class="nav nav-tabs" role="tablist" style="margin-bottom: 15px">
      {{ create_tab("emails", "Emails Autorizados", True) }}
      {{ create_tab("languages", "Idiomas") }}
      {{ create_tab("modalities", "Modalidades") }}
      {{ create_tab("payments", "Formas de pagamento") }}
    </ul>
    <div class="tab-content">
      {{ create_tab_panel("emails", "Email", emails, True) }}
      {{ create_tab_panel("languages", "Idioma", languages) }}
      {{ create_tab_panel("modalities", "Modalidade", modalities) }}
      {{ create_tab_panel("payments", "Forma", payments) }}
    </div>
    <table hidden>
      {{ create_row("new", "", True) }}
    </table>

    <div class="modal fade" id="confirmation-modal" tabindex="-1" role="dialog" aria-labelledby="confirmation-modal-title">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="confirmation-modal-title">Confirmação</h4>
          </div>
          <div class="modal-body">
            <p>Tem certeza que deseja remover este item?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-danger" id="delete-item-sure">Remover</button>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script src="/static/js/configuracoes.js"></script>
{% endblock %}
