{% extends "templates/base.html" %}

{% block title %}Configurações{% endblock %}

{% block css %}
  <style>
    .pointer {
      cursor: pointer;
    }
    .plus-cell {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  </style>
{% endblock %}

{% macro create_tab(id, title, active=False) -%}
  <li role="presentation" {% if active %} class="active" {% endif %}>
    <a href="#{{ id }}" aria-controls="{{ id }}" role="tab" data-toggle="tab">{{ title }}</a>
  </li>
{%- endmacro %}

{% macro create_row(id, email, hidden=False) -%}
  <tr data-id="{{ id }}" {% if hidden %} hidden id="row-template" {% endif %}>
    <td>{{ email }}</td>
    <td>
      <span class="glyphicon glyphicon-pencil pointer" aria-hidden="true"></span>
      <span>&nbsp;&nbsp;&nbsp;</span>
      <span class="glyphicon glyphicon-trash pointer" aria-hidden="true"></span>
    </td>
    <td></td>
  </tr>
{%- endmacro %}

{% block content %}
  <div>
    <ul class="nav nav-tabs" role="tablist" style="margin-bottom: 15px">
      {{ create_tab("emails", "Emails Autorizados", True) }}
      {{ create_tab("languages", "Idiomas") }}
      {{ create_tab("modalities", "Modalidades") }}
      {{ create_tab("payments", "Formas de pagamento") }}
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="emails">
        <div class="row">
          <div class="col-md-7">
            <table class="table">
              <thead>
                <tr>
                  <th>Email</th>
                  <th>Ações</th>
                  <th style="color:gray">Status</th>
                </tr>
              </thead>
              <tbody>
                {% for id, email in emails %}
                  {{ create_row(id, email) }}
                {% endfor %}
                <tr class="active">
                  <td class="plus-cell pointer" colspan=3 align="center">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="languages">BBBBBBBBBB</div>
      <div role="tabpanel" class="tab-pane" id="modalities">CCCCCCCCCCCCCCCCCCCC</div>
      <div role="tabpanel" class="tab-pane" id="payments">DDDDDDDDDDDDDDDDDD</div>
    </div>
    <table hidden>
      {{ create_row("new", "", True) }}
    </table>
  </div>
{% endblock %}

{% block js %}
  <script src="/static/js/configuracoes.js"></script>
{% endblock %}
